/* Text
----------------------------------------------- */
.title {

}

/* Containers
----------------------------------------------- */
.wrapper {
    max-width: $content-width;
    margin-left: auto;
    margin-right: auto;
    padding-left: $padding-edge;
    padding-right: $padding-edge;
}

.container {
    padding-top: 6rem;
    padding-bottom: 6rem;
}

/* Buttons
----------------------------------------------- */
.bttn {

}

/* Misc
----------------------------------------------- */
