// Measurements
//---------------------------------------------- //

// Media
//----------------------------------------------- //
@mixin object-fit-cover {
    object-fit: cover;
    font-family: 'object-fit: cover;';
}

@mixin object-fit-contain {
    object-fit: contain;
    font-family: 'object-fit: contain;';
}

// Themes / Combos
//----------------------------------------------- //

// Titles
//----------------------------------------------- //

// Graphics
//----------------------------------------------- //


// Animations
//----------------------------------------------- //
@mixin shift-on-hover-x($offset: $shift-default-offset) {
    transition: transform $transition-default;

    &:hover {
        transform: translateX($offset);
    }
}

@mixin shift-on-hover-y($offset: -#{$shift-default-offset}) {
    transition: transform $transition-default;

    &:hover {
        transform: translateY($offset);
    }
}

// Selectors
//----------------------------------------------- //
@mixin more-than-n-els ($n: '4', $this: '*') {
    //css-tricks.com/extremely-handy-nth-child-recipes-sass-mixins/
    &:nth-last-child(#{$n}n + 4) {
        :first-child,
        :first-child ~ #{$this} {
            @content;
        }
    }
}

@mixin last-n-els ($count: '4') {
    &:nth-last-child(-n + #{$count}) {
        @content;
    }
}

// Misc
//----------------------------------------------- //
@mixin fontawesome ($fontweight: 900) {
    display: inline-block;
    font-weight: $fontweight;
    font-family: $ff-fontawesome;
    -moz-osx-font-smoothing: grayscale; // sass-lint:disable-line no-vendor-prefixes
    -webkit-font-smoothing: antialiased; // sass-lint:disable-line no-vendor-prefixes
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    line-height: 1;
}
